@import "../../assets/styles/fonts.css";

html {
  --bg-color: #0f0f0f;
  --main-color: #ffffff;

  --gray-100-color: #b9b9b9;
  --gray-200-color: #b7b7b7;
  --gray-300-color: #aaaaaa00;
  --gray-400-color: #5e5e5e;
  --gray-500-color: #363636;
  --gray-600-color: #272727;
  --gray-800-color: #1e1e1ed9;

  --border-radius-3xl: 36px;
  --border-radius-2xl: 32px;
  --border-radius-base: 24px;
  --border-radius-md: 16px;

  --font-main: "Inter", sans-serif;

  --weight-font-main: 400;
  --weight-font-middle: 500;
  --weight-font-big: 600;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;

  --line-height-tighter: 1;
  --line-height-tight: 1.1;
  --line-height-base: 1.2;
  --line-height-relaxed: 1.4;
  --line-height-loose: 1.6;

  --padding-inline-container: 20px;
  --max-width-contaoner: calc(1920px + (var(--padding-inline-container) * 2));
}

html {
  scroll-behavior: smooth;
}

html.light {
  --bg-color: #ffffff;
  --main-color: #ffffff;

  --gray-100-color: #f5f5f5;
  --gray-200-color: #eeeeee;
  --gray-300-color: #e0e0e0;
  --gray-400-color: #0f0f0f;
  --gray-500-color: #9e9e9e;
  --gray-600-color: #757575;
  --gray-800-color: #ffffff26;

  transition: all 0.5s;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-tighter);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  height: 100%;

  &.main-top {
    padding-top: calc(var(--header-height, 56px) + 24px);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.scroll {
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: var(--border-radius-base);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--gray-100-color);
    border-radius: var(--border-radius-base);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-600-color);
    border-radius: var(--border-radius-base);
  }
}

.h1,
h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--weight-font-middle);
}

.h2,
h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--weight-font-middle);
}

.h3,
h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--weight-font-big);
}

.h4,
h4 {
  font-size: var(--font-size-lg);
  font-weight: var(-weight-font-middle);
}

.h5,
h5 {
  font-size: var(--font-size-md);
  font-weight: var(--weight-font-middle);
}

.h6,
h6 {
  font-size: var(--font-size-base);
  font-weight: var(--weight-font-main);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
}

.medium {
  font-weight: var(--weight-font-middle);
}

.semibold {
  font-weight: var(--weight-font-big);
}
