.wrapper {
  padding: var(--padding-inline-container) 0;
  position: relative;
}

.layout {
  display: flex;
  gap: 20px;
  height: 100%;
}

.container {
  position: relative;
  z-index: 2;
}

.page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg {
  position: absolute;
  inset:0;
  z-index: 1;
  pointer-events: none;
}

.video {
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
