.wrapper {
  --gap-layout: 20px;
  --sibebar-width: 84px;
  --grid-layout: var(--sibebar-width, 84px) auto;

  padding: var(--padding-inline-container);
  position: relative;
}

.layout {
  display: grid;
  grid-template-columns: var(--grid-layout);
  gap: var(--gap-layout);
  height: 100%;
  position: relative;
  z-index: 2;
}

.page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.video {
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
