.theme {
  --width-height-btn: 56px;
  --gap-btns: 4px;

  &__box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, var(--width-height-btn));
    gap: var(--gap-btns);
    background-color: var(--gray-400-color);
    border-radius: var(--border-radius-3xl);
    overflow: hidden;
    transition: all 0.5s;
  }

  &__btn {
    width: var(--width-height-btn);
    height: var(--width-height-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    z-index: 3;
    position: relative;

    img,
    svg {
      width: 24px;
      height: 24px;
    }

    svg {
      path {
        stroke: var(--main-color);
      }
    }
  }

  &__decor {
    width: var(--width-height-btn);
    height: var(--width-height-btn);
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-800-color);
    box-shadow:
      4px -3px 8px 0px #81818140 inset,
      -4px 0px 4px 0px #00000040 inset,
      1px 4px 4px 0px #00000040 inset,
      -4px 0px 4px 0px #00000040;
    transition: all 0.5s;
  }

  &.dark {
    .theme {
      &__decor {
        transform: translateX(calc(100% + var(--gap-btns)));
      }
    }
  }

  &.light {
    .theme {
      &__decor {
        transform: translateX(0);
      }
    }
  }
}
