.input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  &__block {
    background-color: var(--gray-400-color);
    padding: 12px 24px;
    min-height: 56px;
    border-radius: var(--border-radius-3xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid transparent;
    transition: all 0.5s;
    color: var(--main-color);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;

    svg,
    img {
      width: 100%;
      height: 100%;
    }
  }

  input {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size-md);
    color: inherit;

    &::placeholder {
      font-size: var(--font-size-md);
      color: inherit;
    }
  }

  &:hover {
    .input-box {
      &__block {
        border-color: var(--gray-100-color);
        background-color: var(--gray-400-color);
      }
    }
  }
}
