.sidebar {
  border-radius: var(--border-radius-2xl);
  background-color: var(--gray-800-color);
  padding: var(--header-height, 56px) 0 40px 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  transition: all 0.5s;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__link {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    transition: all 0.5s;
    color: var(--gray-200-color);

    &:hover,
    &.active {
      background-color: var(--gray-500-color);
      border-radius: var(--border-radius-base);
      color: var(--main-color);;
    }
  }

  &__item-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;

      * {
        transition: all 0.5s;
      }
    }
  }
}
