.weather-add {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
  }

  &__item {
    padding: 16px 22px;
    border-radius: var(--border-radius-md);
    background-color: var(--gray-600-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: span 2;

    &.big {
      grid-column: span 3;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      .weather-add {
        &__item-header {
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 14px;
          flex: 1;
        }
      }

      .icon {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__item-header,
  &__item-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
