.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: var(--border-radius-md);
  min-height: 40px;
  background-color: var(--gray-400-color);
  transition: all .5s;

  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
